{% extends 'base.html.twig' %}

{% set pageTitle = 'Notification' %}
{% set title = 'List' %}

{% block js_footer %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'row gx-3 gy-2 align-items-center mb-4 mb-lg-0'}}) }}
                        <div class="col-sm-auto">
                            <div class="form-floating">
                                {{ form_widget(form.id, {'attr': {'class': 'form-control'} }) }}
                                {{ form_label(form.id, 'ID') }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating">
                                {{ form_widget(form.dateFrom, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(form.dateFrom, 'Date From') }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating">
                                {{ form_widget(form.dateTo, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(form.dateTo, 'Date To') }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-floating">
                                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(form.status, 'Status') }}
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered nowrap table-fixed w-100">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>User</th>
                                <th>Date</th>
                                <th>Subject</th>
                                <th>Content</th>
                                <th>Message</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>
                                        {% if item.user is not null %}
                                            {{ item.user.email }}
                                        {% else %}
                                            ---
                                        {% endif %}
                                    </td>
                                    <td>{{ item.date|date('Y-m-d h:i') }}</td>
                                    <td>{{ item.subject }}</td>
                                    <td>
                                        <span class="badge badge-pill bg-info" style="cursor: pointer" onclick="$(this).next().toggle('d-none');if($(this).html() == 'show'){$(this).html('hide')}else{$(this).html('show')}">show</span>
                                        <pre style="width: 450px;display: none;" class="bg-gradient bg-dark text-white">{{ item.content }}</pre>
                                    </td>
                                    <td>{{ item.message }}</td>
                                    <td>
                                        {% if statuses is defined and statuses is iterable and statuses[item.status] is not null %}
                                            <span class="badge badge-pill bg-{{ statuses[item.status].class }}">{{ statuses[item.status].name }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if paginationCount is defined and paginationCount > 1 %}
                        <div id="pagination" class="btn-group" role="group">
                            {% if currentPage is defined and currentPage != 1 %}
                                <button class="btn btn-outline-primary" data-pagination="{{ currentPage - 1 }}">Previous</button>
                            {% else %}
                                <button class="btn btn-outline-primary disabled">Previous</button>
                            {% endif %}
                            {% for i in 1..paginationCount %}
                                {% if i == currentPage %}
                                    <button class="btn btn-primary" data-pagination="{{ i }}">{{ i }}</button>
                                {% else %}
                                    <button class="btn btn-outline-primary" data-pagination="{{ i }}">{{ i }}</button>
                                {% endif %}
                            {% endfor %}

                            {% if currentPage is defined and currentPage != paginationCount %}
                                <button class="btn btn-outline-primary" data-pagination="{{ currentPage + 1 }}">Next</button>
                            {% else %}
                                <button class="btn btn-outline-primary disabled">Next</button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->
{% endblock %}

{% block custom_js %}

    <script>
        const form = $('[name="notification_filter"]');
        const pagesButtons = $('#pagination > button');

        pagesButtons.each(function(i) {
            let el = $(pagesButtons[i]);
            el.on('click', function() {
                let toPage = el.attr('data-pagination');
                if (toPage) {
                    getPage(toPage);
                }
            })
        })

        function getPage(page) {
            let pageField = form.find('#notification_filter_page');

            pageField.val(page);
            form.submit();
        }
    </script>
{% endblock %}