<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ include('partials/title-meta.html.twig') }}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link href="/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

        {{ include('partials/head-css.html.twig')  }}
    </head>

    <body>

    {% block body %}

    {% endblock %}


    {{ include('partials/vendor-scripts.html.twig') }}
    <!-- password addon init -->
    <script src="/js/pages/pass-addon.init.js"></script>
    </body>
</html>
